<div *ngIf="quotations">
    {{ this.quotations | json}}
    {{ this.chartsData | json}}
    <ng-container *ngFor="let quotationList of organizedQuotations">
        <h3>BRL para {{quotationList[0].currency}}</h3>
        <div class="row">
            <div class="col-sm-6">
                <canvas baseChart
                            [datasets]="getChartData(quotationList[0].currency)"
                            [labels]="getLabels(quotationList[0].currency)"
                            [legend]="true"
                            [options]="{responsive: true}"
                            [chartType]="'line'"></canvas>
            </div>
            <div class="col-sm-6">
                <h5>Variação no ultimo dia: {{getVariation(quotationList[0].currency) | number : '1.2-2'}} %</h5>
                <h5>Variação na ultima semana: {{getVariation(quotationList[0].currency) | number : '1.2-2'}} %</h5>
                <h5>Variação no ultimo mẽs: {{getVariation(quotationList[0].currency) | number : '1.2-2'}} %</h5>
            </div>
        </div>
    </ng-container>
</div>